---
interface Props {
	title: string;
	body: string;
	href: string;
	img:string;
}

const { href, title, body,img } = Astro.props;
---

<div class="container contenedor-card mt-5">
    <div class="card card-productoIndividual  h-100"> <!-- Agregamos la clase h-100 -->
		
      <img src={img} class="card-img-top " alt="Zapatos">
      <div class="card-body">
        <h5 class="card-title">Zapatos de estilo casual</h5>
		<div class="contenedor-extrellas">
			<span class="text-muted mr-1 stars">&#9733; &#9733; &#9733; &#9733; &#9734;</span> <!-- Estrellas del producto -->
		</div>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
          
            <span class="text-muted">4.0 (215 reseñas)</span>
          </div>
          <h3 >$59.99</h3> <!-- Precio del producto -->
        </div>
      </div>
    </div>
</div>
<style>
	
	.card-productoIndividual{
		border-bottom-right-radius: 25px !important;
		transition: all 1.5s;
		border-bottom-left-radius: 25px !important;
	}
	.card-productoIndividual:hover{
		transform: translateY(-20px);
	}

	img{
		background-color: #b4a8a8;
	}
	h3{
		color: red;
	}
	.stars{
		color: rgb(196, 10, 10) !important; 
		font-size: 20px;
		margin: 0px;
		
	}
	.card-img-top {
	  height: 400px; /* Establece la altura deseada para las imágenes */
	  object-fit: contain; /* Mantiene la proporción de la imagen y recorta el exceso */
	}
  </style>
