---
import CardDestacado from "./CardDestacado.astro";
import CardDestacado2 from "./CardDestacado2.astro";
import ZapatoCard from "./ZapatoCard.astro";
---

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <CardDestacado />
      </div>
      <div class="col-md-3 col-6">
        <ZapatoCard />
      </div>
      <div class="col-md-3 col-6">
        <ZapatoCard />
      </div>
    </div>
    <div class="row">
       
        <div class="col-md-3 col-6">
          <ZapatoCard />
        </div>
        <div class="col-md-3 col-6">
          <ZapatoCard />
        </div>
        <div class="col-md-6 ">
            <CardDestacado2 />
          </div>
      </div>
  </div>
</section>
<style>
  .container{
    padding-bottom: 10px;
  }
@media only screen and (max-width: 600px){
  .col-md-3 ,.col-md-6{
    margin-top: 20px;
  }
}

    .row{
        padding-top: 10px;  
    }
  
</style>
