
---
import Banner from "./Banner";
---
<section class="Header">
    <div class="container-fluid">


       <Banner client:load/>
    </div>
</section>

<style>
img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
    
}
.container-fluid{
    height: 100%;
    width: 100%;
}
section{
    align-items: center;
    height: 100dvh   ;
   
}


</style>