
---
import Banner from "./Banner";
---
<section class="Header" id="Home">
    <div class="container-fluid">


       <Banner client:load/>
    </div>
</section>

<style>
img{
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
    
}
.container-fluid{
    height: 100%;
    width: 100%;
}
section{
    align-items: center;
    height: 100dvh   ;
   
}
@media only screen and (min-width: 601px) and (max-width: 1024px){
    section{
        height: 70dvh;
    }
}
@media only screen and (max-width: 600px){
    section{
        height: 60dvh;
    }
}

</style>