---
import Card from "./Card.astro"
---

<section>
<h2 class="text-center ">Productos</h2>
<div class="container">
    <div class="row">

        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/zapatito1.png"
            />
        </div>
       

        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/zapatito2.png"
            />
        </div>
        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/zapatito3.png"/>
        </div>
        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/zapatito4.png"/>
        </div>
        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/chaqueta1.png"
            />
        </div>
       

        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/chaqueta2.png"
            />
        </div>
        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/chaqueta3.png"/>
        </div>
        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/chaqueta4.png"/>
        </div>



        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/franela1.png"
            />
        </div>
       

        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/franela2.png"
            />
        </div>
        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/franela3.png"/>
        </div>
        <div class="col-md-3">
            <Card 
            title="si"
             body="hola"
             href="sisas"
             img="/franela4.png"/>
        </div>
    </div>
</div>



</section>
