<div class="card zapatoDestacadoCard" >
    <img src="https://cld.accentuate.io/7988727152797/1710963951198/Brisbane_Optic-White-Sunset-Lilac_Primary-Float-1380.png?v=1710963951198&options=w1000" class="card-img-top" alt="Zapato">
   
    <div class="footer-card">
      Precio: $59.99
    </div>
  </div>

  <style>
    .card{
        border-radius: 25px;
        transition: all 0.8s;
        background-color: gray;
        position: relative;
        height: 300px;
        display: flex;
        align-items: center;
    }
    .footer-card{
        position: absolute;
        bottom: 10%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        width: 80%;
        outline : 2px solid black;
        padding: 5px;
        border-radius: 15px;
        margin: 0 auto;
     
        text-align: center;
    }
    @media only screen and (max-width: 600px){
      img{
        width: 80%;
     
      }
      .card{
        height: 200px;
      }
    }

  </style>